@model PaginatedList<Product>

<partial name="_SuccessNotification" />

<div class="container">
    <div class="row pt-4 pb-4">
        <div class="col-8">
            <h2 class="text-primary">
                Product List
            </h2>
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Find by title: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-secondary border-1 border-black" /> |
                        <a asp-action="Index">Back to Full List</a>
                    </p>
                </div>
            </form>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle border-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item text-info" asp-action="Index" asp-route-sortOrder="@ViewData["NameAscSortParam"]">Name asc</a></li>
                    <li><a class="dropdown-item text-info" asp-action="Index" asp-route-sortOrder="@ViewData["NameDescSortParam"]">Name desc</a></li>
                    <li><a class="dropdown-item text-info" asp-action="Index" asp-route-sortOrder="@ViewData["PriceAscSortParam"]">Lowest price</a></li>
                    <li><a class="dropdown-item text-info" asp-action="Index" asp-route-sortOrder="@ViewData["PriceDescSortParam"]">Highest price</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4 text-end">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create new Product
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    ISBN
                </th>
                <th>
                    Author
                </th>
                <th>
                    Price
                </th>
                <th>
                    Category
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                    <td>
                        <div class="overflow-auto" style="max-height: 200px; max-width: 500px; overflow-y: auto;">
                            @obj.Description
                        </div>
                    </td>
                    <td>
                        @obj.ISBN
                    </td>
                    <td>@obj.Author</td>
                    <td>@obj.Price</td>
                    <td>@obj.Category.Name</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"> Edit</i>
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"> Delete</i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>

</div>